.bg{
background-image: url("../public/main.avif");

}
.img1{
    background-image: url("../public/bathroom.avif");
    
}
.img2{
    background-image: url("../public/kitchen.avif");
    
}
.img3{
    background-image: url("../public/livingarea.avif");
    
}